name: Run Python Adder

on:
  push:
    branches: [master]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Python script
        run: python add.py
